html {
    scroll-behavior: smooth;
}

body {
    background-color: rgb(1, 6, 17);
}

header {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: rgb(2, 8, 22);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 0%;
    position: fixed;
    top: 0;
    width: 100%;
}

li,
a {
    font-family: sans-serif;
    font-weight: 500;
    font-size: 48px;
    text-decoration: none;
    color: white;
    list-style: none;
}

.links li {
    display: inline-block;
    padding: 0px 50px;
}

.links li a {
    display: inline-block;
    transition-property: color, scale();
    transition-duration: 0.3s;
    transition-timing-function: none;
}

.links li a:hover {
    color: teal;
    transform: scale(1.1);
    cursor: default;
}

.home h2 {
    font-weight: 500;
    color: white;
    font-family: sans-serif;
    font-size: 53px;
    text-align: center;
    margin-top: 150px;
}

.text {
    font-weight: 500;
    color: white;
    font-family: sans-serif;
    font-size: 24px;
    text-align: center;
}

.logo {
    width: 10%;
    height: 10%;
}

.pc1 {
    width: 400px;
}

::-webkit-scrollbar {
    width: 20px;
}

.pc3 {
    width: 300px;
    height: 300px;
}

.pc4 {
    width: 300px;
    height: 300px;
}

::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 20px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: rgba(0, 128, 128, 0.075);
    -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, .5);
}

.dwn {
    font-size: 27px;
    background-color: transparent;
    border-style: solid;
    border-radius: 30px;
    margin: 10px 10px;
    padding: 8px 16px;
    border-color: #c40c0c;
    color: white;
    text-decoration: none;
    transition: border-color 0.3s ease-in-out, border-radius 0.3s ease-in-out, transform 0.3s ease-in-out, border-style 1s ease;
}

.dwn:focus {
    outline: none !important;
}

.dwn:hover {
    border-color: rgb(12, 137, 198);
    border-radius: 25px;
    border-style: dotted;
    transform: scale(1.1);
}

.dwn:active {
    border-color: rgb(255, 255, 255);
    border-radius: 25px;
    border-style: dashed;
    transform: scale(1);
    transition: border-color 0.1s ease, transform 0.3s ease-in-out, border-style 1s ease, border-radius 0.3s ease-in-out;
}

.logo {
    width: 130px;
    height: 130px;
}

.photo {
    text-decoration: underline;
    font-size: 24px;
}

.photosText {
    font-size: 48px;
}