<div id="about" class="w-[60%] flex flex-col items-start text-white gap-8">
    <div class="font-bold text-8xl">About Me</div>
    <div class="flex justify-center">
        <div class="w-[80%] border-primary border-[3px] rounded-xl p-5">
            Hey I'm Peter! I'm living in Poland and I'm passionate about programming. Currently my
            favorite language is JavaScript/TypeScript, then Java and C# (A bit of). I'm a bot
            developer at
            <a
                target="_blank"
                class="underline duration-300 transition-colors hover:text-primary"
                href="https://senior-studios.com">Premier Studios</a
            >
            (previously Senior Studios).
        </div>
    </div>
</div>
