<div
    id="about"
    class="w-[90%] lg:w-[60%] flex flex-col items-start text-white gap-8 my-32">
    <div
        class="font-bold text-6xl lg:text-8xl"
        data-aos="fade-right"
        data-aos-duration="1000">
        About Me
    </div>
    <div
        class="flex justify-center"
        data-aos="fade-up"
        data-aos-duration="1000"
        data-aos-delay="200">
        <div class="w-[90%] border-primary border-[3px] rounded-xl p-3 lg:p-5">
            Hey I'm kalempster! I'm living in Poland and I'm passionate about
            programming. I've been doing software development since 2018 and
            have learned a lot through those years. I'm currently specializing
            in web and mobile app development. I have a highly extensive toolset
            that includes React, Solid.js, React Native, TailwindCSS, tRPC,
            Prisma, Postgres and many more. I'm currently a developer at
            <a
                target="_blank"
                class="underline duration-300 transition-colors hover:text-primary"
                href="https://senior-studios.com"
                >Premier Studios
            </a>
             (previously Senior Studios).
        </div>
    </div>
</div>
