<div class="w-full bg-moon bg-center bg-no-repeat bg-cover mt-32">
    <div class="w-full bg-black bg-opacity-30 backdrop-blur-md backdrop-saturate-150 flex items-center justify-center">
        <div class="flex items-center justify-between w-3/5 p-20">
            <div class="text-white text-7xl w-1/2 font-bold">
                Get in touch and let me do my magic.
            </div>
            <button class="bg-primary p-7 rounded-lg font-semibold hover:text-white">Contact me</button>
        </div>
    </div>
</div>
