<div class="w-full bg-moon bg-center bg-no-repeat bg-cover mt-32" id="contact">
    <div
        class="w-full bg-black bg-opacity-30 backdrop-blur-md backdrop-saturate-150 flex items-center justify-center">
        <div
            class="flex items-center justify-center xs:justify-between w-[90%] lg:w-3/5 h-64 lg:h-96">
            <div
                data-aos="fade-up"
                data-aos-duration="1000"
                class="hidden xs:block text-white text-3xl lg:text-5xl xl:text-7xl w-1/2 font-bold">
                Get in touch and let me do my magic.
            </div>
            <a
                data-aos="fade-down"
                data-aos-duration="1000"
                data-aos-delay="400"
                href="mailto:kalempster@kalempster.dev"
                class="bg-primary p-4 lg:p-7 rounded-lg font-semibold hover:text-white"
                >Contact me
            </a>
        </div>
    </div>
</div>
