---
import { Icon } from "astro-icon";
---

<div class="flex w-full lg:w-3/5 justify-between items-center text-white p-5">
    <a
        href="/"
        class="text-lg hover:text-primary transition-colors duration-100 select-none"
        >&copy; kalempster</a
    >
    <div class="flex gap-2">
        <a
            aria-label="My twitter page"
            target="_blank"
            href="https://twitter.com/kalempster"
            class="w-4 h-4">
            <Icon name="bi:twitter" />
        </a>
        <a
            aria-label="My github page"
            target="_blank"
            href="https://github.com/kalempster"
            class="w-4 h-4">
            <Icon name="bi:github" />
        </a>
    </div>
</div>
