---
import { Icon } from "astro-icon";
---

<div
    class="w-[90%] lg:w-[60%] flex flex-col items-center justify-center h-[calc(100vh-var(--nav-height))]">
    <div class="flex w-full flex-col h-[65%] justify-between">
        <div class="flex flex-col gap-4 lg:gap-10 items-start">
            <div
                data-aos="fade-right"
                data-aos-duration="1000"
                data-aos-delay="400"
                class="[-webkit-text-stroke:1px_#ff7300] text-5xl xs:text-6xl lg:text-8xl">
                kalempster
            </div>
            <div
                data-aos="fade-right"
                data-aos-duration="1000"
                data-aos-delay="600"
                class="text-2xl flex lg:block flex-col lg:text-5xl text-white">
                Building your dreams with
                <span class="font-bold h-7 text-primary" id="text"></span>
            </div>
            <a
                href="#contact"
                class="bg-white text-md lg:text-lg text-primary py-2 lg:py-3 px-[20px] lg:px-[30px] rounded-lg font-bold"
                data-aos="fade-right"
                data-aos-duration="1000"
                data-aos-delay="800">
                Get in Touch
            </a>
        </div>
        <span
            class="text-white w-full flex flex-col-reverse items-center gap-2">
            <div
                data-aos="fade-up"
                data-aos-duration="1000"
                data-aos-delay="1000">
                <div class="w-12 aspect-square animate-bounce">
                    <Icon name="ph:mouse-simple" />
                </div>
            </div>
        </span>
    </div>
</div>

<script>
    const wait = (ms: number) =>
        new Promise<void>((res) => {
            setTimeout(res, ms);
        });

    const random = (min: number, max: number) =>
        Math.floor(Math.random() * (max - min + 1) + min);

    const text = document.querySelector<HTMLSpanElement>("#text");
    let txt = [
        "TypeScript",
        "JavaScript",
        "React",
        "Solid",
        "Express",
        "tRPC",
        "Prisma",
        "Postgres"
    ];
    let speed = 100;

    await wait(500);
    while (1)
        for (const word of txt) {
            let currentWord = "";
            //Writing loop
            for (const letter of word) {
                if (currentWord == word) break;

                currentWord += letter;
                text!.innerText = currentWord;
                await wait(random(speed - 50, speed + 50));
            }

            await wait(1000);

            const currentWordLength = currentWord.length;
            //Removing text loop
            for (let index = 0; index < currentWordLength; index++) {
                currentWord = currentWord.slice(0, currentWord.length - 1);
                text!.innerText = currentWord;

                if (index == 0) await wait(300);
                await wait(50);
            }

            await wait(1000);
        }
</script>
