<nav class="flex w-[60%] justify-between items-center bg-black h-nav text-white">
    <div class="text-white font-bold text-xl">kalempster</div>

    <div class="flex gap-12 text-xl">
        <a href="#" class="text-primary font-bold">Home</a>
        <a href="#about">About me</a>
        <a href="#projects">Projects</a>
        <a href="#contact">Contact</a>
    </div>
</nav>
