<div class="w-[60%] flex flex-col items-start text-white">
    <div class="text-6xl font-bold text-primary flex whitespace-break-spaces">
        <span>I do cool stuff, </span>
        <span class="underline">sometimes</span>
    </div>
</div>
